<launch>

    <node name="evader2" pkg="lab2" type="evader2.py" output="screen"></node>
    <node name="pursuer" pkg="lab2" type="pursuer.py" output="screen"></node>

    <node name="evader_broadcaster" pkg="lab2" type="broadcaster.py" output="screen">
        <param name="bot" type="string" value="tb3_0" />
    </node>
    <node name="pursuer_broadcaster" pkg="lab2" type="broadcaster.py" output="screen">
        <param name="bot" type="string" value="tb3_1" />
    </node>
</launch>